<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hk.tutor"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />
    <!-- 访问网络和读取sdcard的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Required 自定义用来收发消息的相关权限 -->
    <permission
        android:name="com.hk.tutor.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.hk.tutor.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <application
        android:name="com.tutor.TutorApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/tutor"
        android:theme="@style/AppTheme" >

        <!-- 啟動頁 -->
        <activity
            android:name="com.tutor.ui.activity.WelcomeActivity"
            android:label="@string/tutor"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme.FullscreenTransparent" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 選擇身份 -->
        <activity
            android:name="com.tutor.ui.activity.ChoiceRoleActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" >
        </activity>
        <!-- 教師主頁 -->
        <activity
            android:name="com.tutor.ui.activity.TeacherMainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <!-- 學生主頁 -->
        <activity
            android:name="com.tutor.ui.activity.StudentMainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <!-- 註冊 -->
        <activity
            android:name="com.tutor.ui.activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <!-- 登錄 -->
        <activity
            android:name="com.tutor.ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <!-- 忘记密码 -->
        <activity
            android:name="com.tutor.ui.activity.ForgetPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <!-- 修改密码 -->
        <activity
            android:name="com.tutor.ui.activity.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <!-- 完善資料 -->
        <activity
            android:name="com.tutor.ui.activity.FillPersonalInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <!-- 消息 -->
        <activity
            android:name="com.tutor.ui.activity.NotificationActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 收藏夾 -->
        <activity
            android:name="com.tutor.ui.activity.BookmarkActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 學生個人信息 -->
        <activity
            android:name="com.tutor.ui.activity.StudentInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 老师個人信息 -->
        <activity
            android:name="com.tutor.ui.activity.TeacherInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 聊天頁面 -->
        <activity
            android:name="com.tutor.ui.activity.ChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <!-- 成為我的學生 -->
        <activity
            android:name="com.tutor.ui.activity.ToBeMyStudentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <!-- 选择地區页面 -->
        <activity
            android:name="com.tutor.ui.activity.SelectAreaActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 选择课程页面 -->
        <activity
            android:name="com.tutor.ui.activity.SelectCourseActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 选择時間段页面 -->
        <activity
            android:name="com.tutor.ui.activity.SelectTimeSlotActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 搜索条件页面 -->
        <activity
            android:name="com.tutor.ui.activity.SearchConditionsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <!-- 系统消息页面 -->
        <activity
            android:name="com.tutor.ui.activity.SystemNotificationActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 评价老师页面 -->
        <activity
            android:name="com.tutor.ui.activity.RateTutorActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <!-- 评论列表页面 -->
        <activity
            android:name="com.tutor.ui.activity.RateCommentListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 评论列表页面 -->
        <activity
            android:name="com.tutor.ui.activity.SureCourseActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 聊天列表页面 -->
        <activity
            android:name="com.tutor.ui.activity.ChatListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <!-- CourseSelectionActivity -->
        <activity
            android:name="com.tutor.ui.activity.CourseSelectionActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.tutor.ui.activity.FAQActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tutor.ui.activity.AdvisoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tutor.ui.activity.CourseSelectionResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tutor.ui.activity.TimeTableActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tutor.ui.activity.InvitationDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.tutor.ui.activity.TimeTableDetailActivity"
            android:screenOrientation="portrait" />
        <!-- IM服务 -->
        <service android:name="com.tutor.service.IMService" >
        </service>
        <!-- facebook -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationName"
            android:value="@string/app_name" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider955813547811269"
            android:exported="true" />

        <receiver
            android:name="com.facebook.receive.MyFacebookBroadcastReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.facebook.platform.AppCallResultBroadcast" />
            </intent-filter>
        </receiver>

        <!-- JPush start -->
        <!-- 点击状态通知栏，需要打开的Activity -->
        <activity android:name="com.tutor.ui.activity.JPushActivity" >
            <intent-filter>
                <action android:name="jpush.testAction" />

                <category android:name="jpush.testCategory" />
            </intent-filter>
        </activity>
        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.hk.tutor" />
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <!-- Required SDK 核心功能 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.hk.tutor" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter android:priority="1000" >
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!-- Required  显示通知栏 -->
                <category android:name="com.hk.tutor" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!-- User defined.    用户自定义的广播接收器 -->
        <receiver
            android:name="com.tutor.JPushReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.hk.tutor" />
            </intent-filter>
        </receiver>

        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="e8c45ea2bf0722ea42a67fff" /> <!-- </>值来自开发者平台取得的AppKey my app id: 460090b6889e45231d06a7cb kevin id:2b62c434b29ddbdefc7972e6 -->
        <!-- JPush end -->
    </application>

</manifest>